[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url=https://github.com/heretique/bgfx.git
[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdparty/bimg"]
	path = 3rdparty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rdparty/hq"]
	path = 3rdparty/hq
	url = https://github.com/heretique/hq.git
[submodule "3rdparty/psmove"]
	path = 3rdparty/psmove
	url = https://github.com/heretique/psmove.git
